@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&family=Roboto:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

button, input, textarea {
  font-size: 16px;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.ReactCollapse--collapse {
  transition: height 500ms ease-out;
  min-height: 50px;
  text-overflow: ellipsis;
}

.leaflet-container {
  /*position: fixed;*/
  width: 100%;
  height: 100vh;
  margin-right: 0px;
  z-index: 10;
  float: right;
  /*bottom: 100px;*/
  /*right: 50px;*/
}

.FilterClass {
  font-family: 'Arial';
  padding-right: 60%;
  margin-top: 20px;
  margin-left: 33%;
  background-color: #4CAF50; /* Green */
  border: none;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}

.Collapsible {
  color: "white";
  background-color: "black";
  padding: "10px";
  font-family: "Roboto";
};